---

layout: 'base.njk'

---

<section class="article-header">
</section>                        

<article class="main-article">
    <img class="main-article-cover-img" src="{{ coverImage }}" alt="{{ coverImageAlt }}">
    <div class="main-article-cover">
        <h1 class="main-article-title">{{ title }}</h1>
    </div>
    <div>
        <img class="main-author-img" src="{{ authorImage }}" alt="{{ authorImageAlt }}">
        <p class="main-article-author">written by {{ author }}</p>
        <p class="main-article-author">{{ profession }}</p>
        <p class="main-article-date">posted on {{ date | postDate }}</p>
        <div class="main-article-body">{{ content | safe }}</div>
    </div>

    

</article>
