<footer>
            <h3>COUNSELING</h3>
            <h2>WITH IQRA</h2>
            <div class="row footer-row">
                <div class="col-sm">
                    <h5>LINKS</h5>
                        <a class="links" href="index.html">HOME</a>
                        <a class="links" href="blog.html">BLOG</a>
                        <a class="links" href="#about-me">ABOUT ME</a>
                        <a class="links" href="#services">SERVICES</a>
                        <!-- <a class="links" href="#testimonials">TESTIMONIALS</a> -->
                        <a class="links" href="#faqs">FAQS</a>
                </div>
                <div class="col-sm">
                    <h5>CONTACT INFORMATION</h5>
                    <p>+92301-8637274</p>
                    <p>counselingwiqra</p>
                    <p>counseling.iqra@gmail.com</p>
                    <p>Medical Center Ladies Club, Model Town, Lahore.</p>
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.3197042403353!2d74.32062397470999!3d31.487895048747493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919040e4322bc83%3A0x680cf11ee1aec3fe!2sMedical%20Centre%2C%20Model%20Town!5e0!3m2!1sen!2s!4v1681682778511!5m2!1sen!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md">
                    <h5>CONTACT FORM</h5>
                    <div id="contact-form">
                        <label for="name">Name:</label>
                        <input id="name"/>
                        <label for="email">Email:</label>
                        <input id="email"/>
                        <label for="message">Message:</label>
                        <textarea id="message"></textarea>
                        <button>Send</button>
                    </div>
                </div>
            </div>
            <div class="flex-col">
                <small>All images and illustrations are properties of CounselingwithIqra.github.io</small>
                <small>Our Privacy Policy is simple, we do not collect any of your data through this website. any personal information related to the client is protected under a confidentiality agreement, and thus will not be communicated to any 3rd party.</small>
                <a class="awd" href="https://alkoun-web-design.github.io/">Designed by Alkoun Web Designs</a>
            </div>
        </footer>