<header id="header" class="flex-row">
                    <div class="flex-col left">
                        <img class="logo" src="assets/img/logo.svg">
                    </div>
                    <nav id="main-nav"class="flex-row center">
                        <a href="/index" class="">HOME</a>
                        <a href="/blog/" class="">BLOG</a>
                        <a href="#about" class="">ABOUT</a>
                        <a href="#services" class="">SERVICES</a>
                        <!-- <a href="#testimonials" class="">TESTIMONIALS</a> -->
                        <a href="#faqs" class="">FAQS</a>
                        <a href="#contact-form" class="">CONTACT</a>
                    </nav>
                    <nav id="dropdown-nav" class="inactive">
                        <div class="flex-col center">
                            <a href="/index" class="">HOME</a>
                            <a href="/blog" class="">BLOG</a>
                            <a href="#about" class="">ABOUT</a>
                            <a href="#services" class="">SERVICES</a>
                            <!-- <a href="#testimonials" class="">TESTIMONIALS</a> -->
                            <a href="#faqs" class="">FAQS</a>
                            <a href="#contact-form" class="">CONTACT</a>
                        </div>
                    </nav>
                    <div class="flex-col right">
                        <svg class="nav-menu-icon" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512" fill="#ffc562" xmlns:v="https://vecta.io/nano"><circle id="nav-menu-icon-bg" cx="256" cy="256" r="231" fill="#506388"/><path d="M362.667 149.333H149.333c-11.782 0-21.333 9.551-21.333 21.333s9.551 21.333 21.333 21.333h213.333c11.782 0 21.333-9.551 21.333-21.333s-9.55-21.333-21.332-21.333zm0 85.334H149.333C137.551 234.667 128 244.218 128 256s9.551 21.333 21.333 21.333h213.333c11.782 0 21.333-9.551 21.333-21.333s-9.55-21.333-21.332-21.333zm0 85.333H149.333C137.551 320 128 329.551 128 341.333s9.551 21.333 21.333 21.333h213.333c11.782 0 21.333-9.551 21.333-21.333S374.449 320 362.667 320z" fill="#fff"/></svg>
                    </div>
                </header>